bluelens-log==1.0.2
bluelens-spawning-pool==1.0.10
boto3==1.5.9
botocore==1.8.23
certifi==2018.1.18
Cython==0.27.3
docutils==0.14
fasttext==0.8.3
future==0.16.0
jmespath==0.9.3
numpy==1.14.0
pymongo==3.6.0
python-dateutil==2.6.1
redis==2.10.6
s3transfer==0.1.12
six==1.11.0
stylelens-dataset==0.0.21
stylelens-product==1.0.76
urllib3==1.22
